{% extends 'base.html' %}

{% block content %}
<h1>Welcome</h1>
$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })$(document).ready(function(){
            $('main').css('padding-top', $('nav').height() + 'px');

            var navShowing = false;
            $('.navbar-toggle').click(function(){
                var panel = $('#navbar');
                panel.toggleClass('collapse');
            })
        })
{% endblock %}