nav {
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3);
    background-color: white;
    a {
        color: $text-color !important;
    }
    .icon-bar {
        background-color: black !important;
    }
    .navbar-inverse,
    .navbar-collapse {
        border-color: none !important;
    }
    button.navbar-toggle {
        color: white !important;
        background-color: white !important;
    }
}

.show-nav {
    position: fixed !important;
    display: none;
}

.hide-nav {
    position: relative !important;
}