{% extends 'base.html' %}
{% load static %}

{% block description %}Annaspalace Shop{% endblock %}

{% block title %}Shop{% endblock %}

{% block content %}
    {% csrf_token %}
    <script src="{% static 'js/ShoppingCart.js' %}"></script>
    <script>

        $(document).ready(function () {
            loadProductCategory("Alle");
        });

        document.cookie = "shoppingCartId={{ shoppingCartId }}";

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]); // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let csrftoken = getCookie('csrftoken');
        console.log(csrftoken); //Ajax call

        function csrfSafeMethod(method) { // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
        });

        function updateShoppingCart() {
            $.ajax({
                url: "{% url 'update_shopping_cart' %}",
                method: "POST",
                data: {shoppingCart: {{ shoppingCartId }}},
                success: function (data) {
                    console.log(data);
                    $('#shopping-cart-price').text(data['price']);
                }
            })
        }

        function addItemToShoppingCart(productId) {
            $.ajax({
                url: "{% url 'add_item_to_cart' %}",
                method: "POST",
                data: {
                    productId: productId,
                    shoppingCart: {{ shoppingCartId }},
                },
                success: function (data) {
                    console.log(data);
                    $('#shopping-cart-price').text(data['price']);
                }
            })
        }

        function loadProductCategory(categoryName) {
            location.hash = '#' + categoryName;
            $.ajax({
                url: "{% url 'load_category' %}",
                method: "POST",
                data: {categoryName: categoryName},
                success: function (data) {
                    console.log(data);
                    let category = new ProductCategory(data['categoryName']);
                    for (let i = 0; i < data['products'].length; i++) {
                        let jsonProduct = data['products'][i];
                        let product = new Product(jsonProduct['id'], jsonProduct['name'], jsonProduct['price'], jsonProduct['description'], jsonProduct['image']);
                        category.addProduct(product);
                    }
                    category.build();
                }
            })
        }
    </script>



    <div class="shop-view row">
        <div class="categories col-sm-2">
            {% for category in productCategories %}
                <div class="product-category">
                    <a href="javascript:void(0)"
                       onclick="loadProductCategory('{{ category.name }}')">{{ category.name }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="main-shop col-sm-10">
            <div class="shopping-cart row">
                <div class="col-sm-2">
                    <p>Preis: CHF <span id="shopping-cart-price"></span>.-</p>
                </div>
                <div class="col-sm-2">
                    <a href="checkout/">Bestellen</a>
                </div>
            </div>
            <div class='row post-feed' id="products-view">
            </div>
        </div>
    </div>

{% endblock %}