{% extends 'base.html' %}
{% load martortags %}


{% block title %}Blog{% endblock %}

{% block content %}
    <h1>Blog</h1>
    <div class="post-feed">
        {% for entry in blogentries %}
            <div class="blogentry card">
                {% if entry.main_image %}
                    <a href="{% url 'post' entry.id %}">
                        <img src="{{ entry.main_image.url }}">
                    </a>
                {% endif %}
                <div class="post-description">
                    <a href="{% url 'post' entry.id %}"><h3 class="link-title">{{ entry.title }}</h3></a>
                    <p class="date-published">{{ entry.date_posted }}</p>
                    <p>{{ entry.description }}</p>
                    <a href="{% url 'post' entry.id %}">weiter lesen</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}